<div class="usp-product--container">
  {%- if product.metafields.product.usp_icon != blank -%}
    <div class="usp-container">
       <div class="usp-wrapper flex">
          {% for uspIcon in product.metafields.product.usp_icon.value %}
              {%- assign index = forloop.index -%}
              {%- for uspText in product.metafields.product.usp_text.value -%}
                {%- if forloop.index == index -%}
                   <div class="usp-icons_wrapper">
                     <div class="uspIcon--img">
                        <img loading="lazy" src="{{ uspIcon | img_url }}">
                      </div>
                      <div class="uspIcon--text">
                         <span class="text-body-small">{{ uspText }}</span>
                      </div>
                    </div>
                {%- endif -%}
              {%- endfor -%}
          {% endfor %}
        </div>
      </div>
  {%- endif -%}
</div>