<div class="hp--categories_section">
  <div class="page-width">
    <h2 class="section_title">{{ section.settings.section_title }}</h2>
  
    <div class="categories_block">
      {% for block in section.blocks %}
        <div class="category_container">
          <a href="{{ block.settings.category_link }}">
            <img src="{{ block.settings.image | img_url: '160x160' }}" alt="category image" loading="lazy" />
            <h3 class="category_title">{{ block.settings.category_title }}</h3>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Homepage Category",
  "settings": [
    {
      "type": "richtext",
      "id": "section_title",
      "label": "Section Title"
    }
  ],
  "blocks": [
    {
      "type": "category",
      "name": "Catrgory",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "richtext",
          "id": "category_title",
          "label": "Category Title"
        },
        {
          "type": "url",
          "id": "category_link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Homepage Categories"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}